
section {
  width: 50%;
}

.fondo-imagen-1 {
  width: 100%;
}

.imagen-1 {
  width: 100%;
  height: 100%;
}

.barra-superior {
  width: 100%;
  background-color: rgb(132, 185, 255);
  height: 100px;
}

.fondo-imagen-2 {
  width: 100%;
}

.imagen-2 {
  width: 100%;
  height: 100%;
}

.superposicion {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 65%;
  background-color: rgba(255, 240, 222, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  
}

.superposicion h1 {
  font-size: 3rem;
  margin: 0px;
  font-family: Century Gothic;
}

.superposicion p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 20px 0;
  line-height: 50px;
  
}

h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  
}

p {
  font-size: 18px;
  text-align: center;
  margin: 40px;
  font-family: Century Gothic;
}

.fondo-imagen-3 {
  width: 100%;
  background-color: rgb(216, 233, 255);
  height: 450px;
}

.imagen-3 {
  float: left;
  margin-left: 5%;
}

.fondo-imagen-4 {
  width: 100%;
  background-color: rgb(216, 233, 255);
  height: 450px;
}

.imagen-4 {
  float: right;
  margin-right: 5%;
}

.barra-inferior {
  width: 100%;
  background-color: rgb(68, 106, 162);
  height: 80px;
}

.titulo {
  position:absolute;
  color: rgb(255, 255, 255);
  font-family: Century Gothic;
  margin-left: 45%;
  line-height: 60px;
}

.fondo-imagen-5 {
  width: 100%;
  background-color: rgb(216, 233, 255);
  height: 800px;
  
}

.imagen-5 {
  float: left;
  margin-left: 20%;
  margin-top:2%;
}

.imagen-6 {
  float: right;
  margin-right: 20%;
  margin-top:2%;
}

.fondo-imagen-6 {
  width: 100%;
  background-color: rgb(216, 233, 255);
  height: 600px;
}

.imagen-7 {
  float: left;
  margin-left: 20%;
}

.imagen-8 {
  float: right;
  margin-right: 20%;
}

.superposicion2 {
  position: absolute;
  top: 170%;
  left: 35%;
  width: 60%;
  height: 55%;
  font-family: Century Gothic;
}

.superposicion3 {
  position: absolute;
  top: 245%;
  left: 5%;
  width: 60%;
  height: 55%;
  font-family: Century Gothic;
}

.superposicion4 {
  position: absolute;
  top: 425%;
  left: 4%;
  width: 45%;
  height: 55%;
  font-family: Century Gothic;
}

.superposicion5 {
  position: absolute;
  top: 425%;
  left: 51%;
  width: 45%;
  height: 55%;
  font-family: Century Gothic;
}

.superposicion6 {
  position: absolute;
  top: 545%;
  left: 7%;
  width: 45%;
  height: 55%;
  font-family: Century Gothic;
}

.superposicion7 {
  position: absolute;
  top: 545%;
  left: 50%;
  width: 45%;
  height: 55%;
  font-family: Century Gothic;
}